
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --white : white;
 --white-400 : rgba(255, 255, 255, 0.9);
 --white-300 :  rgba(255, 255, 255, 0.7);
 --white-200 :  rgba(255, 255, 255, 0.5);
 --white-100 :  rgba(255, 255, 255, 0.3);
 --black : black;
 --black-400 : rgba(0, 0, 0, 0.9);
 --black-300 : rgba(0, 0, 0, 0.7);
 --black-200 : rgba(0, 0, 0, 0.5);
 --black-100 : rgba(0, 0, 0, 0.3);
 --main-font: Arial, sans-serif;
 --sec-font:"Montserrat" ,Arial;
      
}

body{
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: #4c4c4cb7;   
    
}

/* #container{
    width: 100%;
    height: 100%;
    background:linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    opacity: 0.9;
} */

.flexRow{
 display: flex ;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.flexCol{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container{
    width: 60%;
    height: 100%;
    margin: auto;
    background-color:#FFFFCC;
    box-shadow: 0px 0px 20px 1px var(--black-100);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}


#title{
    width: 100%;
    text-align: center;
    font-family: var(--sec-font);
    font-size: 900;
    font-size: 24px;
    color: var(--black);
}

#sub-title{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-family: var(--sec-font);
    font-size: bolder;
    font-size: 18px;
    color: var(--black-200);
}

.content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.footer{
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#next{
    border: none;
    width: 30%;
    min-width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--white);
    background-color: var(--black-300);

}

#next:hover{
    background-color: var(--black-400);
    color: var(--white);
}

.search-panel {
    width: 80%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-200);
    border-radius: 20px;
    box-shadow: 2px 2px 12px 1px var(--black-100) ;
}

.my-input {
    width: 50%;
    margin-top: 150px;
    padding: 8px;
    box-sizing: border-box;
}

.autocomplete-items {
    border: 1px solid #ddd;
    z-index: 99;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    width: 50%;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #ddd;
}

.location{
    position: fixed;
    z-index: 120;
    width: 180px;
    height: auto;
}

#location2{
    top: -12%;
    left: 20%;
}

#location1{    
    width: 120px;
    bottom:-10px;
    right:20%;
}
       
@media (max-width: 1000px) {
 #container{
    width: 70%;
 }

 #location2{
    left: 15%;
}

#location1{    
    right:15%;
}
}

@media (max-width: 600px) {
    #container{
       width: 100%;
    }
    .location{
        position: fixed;
        z-index: 120;
        width: 140px;
        height: auto;
    }

    #location2{
        top: 5%;
        left: 0;
    }
    
    #location1{
        bottom:-10px;
        right:0;
    }
   }

