
:root{
  --white : white;
  --white-400 : rgba(255, 255, 255, 0.9);
  --white-300 :  rgba(255, 255, 255, 0.7);
  --white-200 :  rgba(255, 255, 255, 0.5);
  --white-100 :  rgba(255, 255, 255, 0.3);
  --main-font: Arial, sans-serif;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  font-family: var(--main-font);
  background: linear-gradient(
    to top right,
    rgba(252, 99, 107, 0.9) 10%, /* coral with opacity */
    rgba(255, 109, 146, 0.9) 65%, /* bright coral with opacity */
    rgba(255, 185, 0, 0.9) 125% /* gold with opacity */
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.hidden{
  display: none;
}

.welcome-main{
  text-align: center;
  color: var(--white);
  font-size: 4rem;
  animation: fade-in 1.7s ease-in-out;
}

.welcome-sub{
  text-align: center;
  color: var(--white-400);
  font-size: 1.5rem;
  opacity: 0;
  animation: fade-in 1.7s ease-in-out;
  animation-delay: 1.7s;
}

.company{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--white-200);
  font-size: 16px;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

.cloud-container{
  z-index: 5;
  animation: fade-in 1.7s ease-in-out;
  }

  .cloud-text{
   display: flex;
   flex-direction: column;
   gap: 40px;
   color: var(--white);
  }

.cloud{
  display: none;
  z-index: 5;
  position: absolute;
  width: 70%;
  height: auto;
  top: 5%;
  left: 15%;
  opacity: 0.8;
  color: var(--white);
  animation: fade-in 1.7s ease-in-out;
 }


.cloud-span{
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fade-in 1.7s ease-in-out;
}

.call-to-action{
  max-width: fit-content ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: fade-in 1.7s ease-in-out;
}

.btn{
  border: none;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  cursor: pointer;
  gap: 12px;
  animation: fade-in 1.7s ease-in-out;
}

#Download-app{
  background-color:#ffe749;
}

#Download-app:hover{
  background-color:#eea73d;
  color: var(--white);
}


.mash-out {
  animation: mash-out 1s forwards;
}

.cloud-in {
  animation: fade-in 1s forwards;
}


@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-mobile{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 0.2;
    transform: translateY(0);
  }
}

@keyframes mash-out{
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-200%);
  }
}

@media (max-width: 600px) {
  
  .cloud-container {
    position: relative;
    overflow: hidden; /* Hides any part of the image that overflows */
   
  }
  
  .cloud {
    z-index: 1;
    display: block;
    opacity: 0.2;
    position: absolute;
    width: 180%;
    top: 20%;
    left: -40%;
    animation: fade-in-mobile 1s ease-out;
  } 

    .cloud-container {
      z-index: 5;
      animation: fade-in 1.7s ease-in-out;
      padding: 0 10px; 
    }
  
    .cloud-text {
      display: flex;
      flex-direction: column;
      gap: 20px; 
      color: var(--white);
      text-align: center;
    }
  

    .cloud-span {
      font-family: var(--main-font);
      font-weight: bold;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      animation: fade-in 1.7s ease-in-out;
    }
  
    .call-to-action {
      max-width: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px; 
      animation: fade-in 1.7s ease-in-out;
    }
  
    .btn {
      width: 100%; 
      padding: 10px 20px; 
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      opacity: 1;
      cursor: pointer;
      gap: 10px; 
      animation: fade-in 1.7s ease-in-out;
      font-size: 1rem;
      z-index: 100;
    }
  
    #Download-app {
      background-color: #ffe749;
    }
  
    #Download-app:hover {
      background-color: #eea73d;
      color: var(--white);
    }

    .welcome-sub{
      margin-top: 20px;
    }
  }
  
  
